# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
